
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #1a1818;
    padding: 6px 14px;
}

.sidebar .logo-content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.sidebar ul li .tooltop {
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo-content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);  
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar li .bx {
    margin-top: -10px;
}

.nav-list .search-icon {
    margin-right: -20px;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: black;
    font-size: 22px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    color: #1a1818;
    background: #fff;
}

.sidebar ul li .icons {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

/* .sidebar:active {

} */

li .icons-item {
    margin-top: 10px;
}

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px );
    left: 240px;
}

.home-content .text {
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin: 12px;
}

