body {
    margin: 0;
    padding: 0;
    background: url("../images/bgg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.upper {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 160px;
}

.img-logo {
    height: auto;
    width: 100%;
    max-width: 200px;
    margin-top: 0px;
    margin-left: 16%;
}

.bottom {
    background-color: rgba(0, 0, 0, 0.85);
    color: #757575;


}

.bottom-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 120px
}

.bottom-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bottom-flex li {
    list-style: none;
}

.list-bottom {
    width: 25%;
    margin-top: 10px;
}

.link-bottom {
    text-decoration: none;
    color: #757575;
    font-size: 0.8rem;
}

.link-bottom:hover {
    text-decoration: underline;

}

.row {
    margin: 0 auto;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 30px 70px 90px 70px;
}

#loginBtn,
#registerBtn {
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    float: left;
    padding: 10px 25px 10px;
    margin-right: 28px;
}

#registerBtn {
    border-bottom: 3px solid rgb(255, 65, 65);
}

.form-group button {
    margin-top: 20px;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
}

.form-group input:hover {
    background-color: #333;
    color: white;
}

.form-control {
    width: 100%;
    height: 45px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none;
    outline: transparent;
    text-indent: 18px;
    border: none;
}

.remember-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.8rem;
}

.color_text {
    color: #b3b3b3;
}

.color_link {
    color: #737373;
}

.signup-link {
    color: white;
    text-decoration: none;
}

.warning-input {
    display: none;
    color: #e87c03;
    margin-top: 0;
    font-size: 0.8rem;
    margin-top: 6px;
}

.signup-link:hover {
    text-decoration: underline;
}

.face_icon {
    color: #3b5998;
    margin-right: 6px;
    font-size: 20px;
}

.log_face {
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8rem;
}

.login-face {
    margin: 50px 0 15px 0;
    vertical-align: middle;
    color: #8c8c8c;
}

.new-members {
    margin-bottom: 10px;
    color: #8c8c8c;
    margin-top: 30px;
    border: #333;
}

.help a {
    text-decoration: none;
}

.help a:hover {
    text-decoration: underline;
}

.protection {
    font-size: 0.8rem;
    color: #8c8c8c;
}

.protection a {
    text-decoration: none;
}

.protection a:hover {
    text-decoration: underline;
}

.tel-link {
    text-decoration: none;
    color: #757575;
}

.tel-link:hover {
    text-decoration: underline;
}

.form-group label {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 740px) {
    body {
        background: black;
    }

    .login {
        padding: 0 10px 0 10px;
        width: 100%;
    }

    .login-div {
        width: 90%;
        margin: 0 auto;
    }

    .bottom {
        border-top: 1px solid #737373;
        width: 460px;
    }

    .upper {
        padding-bottom: 93px;
    }

    .list-bottom {
        width: 33%;
    }
}

@media screen and (max-width: 500px) {
    .list-bottom {
        width: 50%;
    }
}